.collection {
  background-color: var(--green-color);
}
.collection__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.collection__image {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.collection__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collection__title {
  color: #fff;
  letter-spacing: 0.04em;
}
.collecion__buttons {
  margin-top: 48px;
  display: flex;
  gap: 20px;
}
.collection__btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  font-weight: 500;
  line-height: 1.5;
  padding: 16px 32px;
}

.collection__btn--white {
  color: var(--green-color);
  background-color: #fff;
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
}
.collection__btn--white:hover {
  color: #fff;
  background-color: var(--green-color);
}

.collection__btn--green {
  color: #fff;
  background-color: var(--green-color);
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
}
.collection__btn--green:hover {
  color: var(--green-color);
  background-color: #fff;
}
